*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background: lightblue;
    font-family: 'Roboto', sans-serif;;
    
}
img{
    margin: 40px 0px 0px 20px;
}
#imgLupa{
  height: 250px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%,-50%);
}
.esconder{
  display:none;
}
.card {
    width: 19%;
    height: 85%;    
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: fixed;
    top: 10px;
    right: 10px;      
    color:black;
    padding: 10px;
    border-radius: 25px;
    margin-top: 20px;
  }   
.card-content {
    padding: 16px;
    
  }

.card-title {
    font-size: 1.1em;  
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%); 
    
  }

  #mensagemOculta{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
  }
.btnCopia{
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    background-color: cadetblue;
    color: #fff;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    
}
.btnCopia:hover{
  background-color: rgb(74, 134, 134);
}
  

textarea{
    padding: 5px;
    width: 400px;
    margin: 100px 450px;
    text-align: center;
    font-size: 1.2em;
  }


.crip{
    padding: 10px;    
    align-items: center;
    justify-content: center;      
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 200px;
    background-color: aqua;
    border: none;
    cursor: pointer;
    
  }
  .crip:hover{
    background-color: rgb(16, 207, 210)
  }

.dis{
    padding: 10px;    
    align-items: center;
    justify-content: center;      
    margin: 0;
    position: absolute;
    top: 90%;
    left: 35%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 200px;
    background-color:#0A3871;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .dis:hover{
    background-color: blue;
  }
.box p{
    text-align: center;
    padding: 12px;
    position: absolute;
    bottom: 100px;
    left: 35%;
    
    
  }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }




  